<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout/layout}">
<th:block layout:fragment="content">
    <div class="main">
        <a href="javascript:callAPI('GET', 'http://localhost/comments', '');"> test</a>
        <button type="button" class="btn btn-primary">Primary</button>
        <a class="fs20"> test<i class="fab fa-accusoft"></i></a>
    </div>
    <script th:src="@{/js/gola.js}"></script>
</th:block>
</html>