<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout/layout}">
<th:block layout:fragment="content">
    <div class="main">
        <div class="slide-wrapper">
            <ul class="slides" id="menuList">

            </ul>
        </div>

        <div class="restaurant">

        </div>
    </div>
    <h1>Body</h1>
<!--    <a href="javascript:callAPI('GET', 'http://yagola.co.kr/menu', '');"> menu call test</a>-->
    <a class="fs20"> test</a>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</html>