<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="sticky-footer bg-white">
        <div class="flex fdr aic jcsa ffn fs10vw mc ml20 mr20 mt20 br14 cw">
            <div class="flex fdc aic w25vw">
                <span>배달음식 주문 한마디면 된다.</span>
                <span>야. 골라.</span>
            </div>
            <div class="flex fdc aic w25vw">
                <span class="mt5"><span onclick='location.href="https://github.com/BuGLifer"'>[ <i class="fab fa-github"></i> Team BugLifer ]</span></span>
                <span class="mt5 mb5"><span onclick='location.href="https://github.com/BuGLifer/Yagola"'>[ <i class="fab fa-github"></i> Project Yagola ]</span></span>
            </div>
            <div class="flex fdc aic w25vw">
                <span>[ Developer ]</span>
                <div class="flex fdr g1v">
                    <span class="mt5 mb5"><span onclick='location.href="https://github.com/swgil007"'><i class="fas fa-address-card"></i> Gillog</span></span>
                    <span class="mt5 mb5"><span onclick='location.href="https://github.com/times132"'><i class="fas fa-address-card"></i> Jin</span></span>
                    <span class="mt5 mb5"><span onclick='location.href="https://github.com/jeongsora"'><i class="fas fa-address-card"></i> Sarah</span></span>
                    <span class="mt5 mb5"><span onclick='location.href="https://github.com/ji24601"'><i class="fas fa-address-card"></i> Jeje</span></span>
                </div>
            </div>
        </div>
    </footer>
</th:block>

</html>