<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="sticky-footer bg-white">
        <div class="flex fdr aic jcsa ffn fs10vw mc ml20 mr20 mt20 br14 cw">
            <div class="flex fdc aic">
                <span class="mt5">Copyright. Team <span onclick='location.href="https://github.com/BuGLifer"'>BugLifer</span></span>
                <span class="mt5 mb5">Copyright. Team </span>
            </div>
            <div class="flex fdc aic">
                <span class="mt5">Copyright. <span onclick='location.href="https://github.com/BuGLifer"'>[ Team BugLifer <i class="fab fa-github"></i>]</span></span>
                <span class="mt5 mb5">Project Repository. <span onclick='location.href="https://github.com/BuGLifer/Yagola"'>[ Yagola <i class="fab fa-github"></i>]</span></span>
            </div>
            <div class="flex fdc aic">
                <span class="mt5">Copyright. Team <span onclick='location.href="https://github.com/BuGLifer"'>[BugLifer]</span></span>
                <span class="mt5 mb5">Copyright. Team </span>
            </div>
        </div>
    </footer>
</th:block>

</html>