<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yagola</title>
    <link th:href="@{/img/yagola/favicon.png}" rel="icon">
    <link th:href="@{/css/commonCSS.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ccf5b38721.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
</html>