<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topFragment">
  <div class="flex mc bs0 br24 h150 jcc alc g3pc ffd">
    <div class="flex w20pc jcc fs100 fdc aic" onclick="location.href='/'"><i class="fab fa-yammer"></i><a class="fs30 cw">골라</a></div>
    <div class="flex w50pc jcc">2</div>
    <div class="flex w20pc jcc fs100 fdc aic" onclick="location.href='/gola'"><i class="fas fa-motorcycle"></i><a class="fs30 cw">주문</a></div>
  </div>
</th:block>
</html>