/*
    Font 관련
*/

.ffd {
    font-family: 'Do Hyeon', sans-serif;
}
.fs20 {
    font-size: 20px;
}
.fs24 {
    font-size: 24px;
}
.fs30 {
    font-size: 30px;
}
.fs35 {
    font-size: 35px;
}
.fs100 {
    font-size: 100px;
}
.fs12vw {
    font-size: 1.2vw;
}
.fs22vw {
    font-size: 2.2vw;
}
.fs25vw {
    font-size: 2.5vw;
}
.fs6vw {
    font-size: 6vw;
}

/*
    색상 관련
*/

.cw {
    color: white;
}

.bgw {
    background: white;
}
.bgnw {
    background: navajowhite;
}
.mc {
    background-color: #d7004a;
}

/*
    Flex, 정렬 관련
*/

.flex {
    display: flex;
}
.fdr {
    flex-direction: row;
}
.fdc {
    flex-direction: column;
}
.aic {
    align-items: center;
}
.jcc {
    justify-content: center;
}
.jcsa {
    justify-content: space-around;
}
.jcfe {
    justify-content: flex-end;
}

/*
    Border 관련
*/

.bs0 {
    border: 0px solid;
}
.bs1 {
    border: 1px solid;
}
.br24 {
    border-radius: 24px;
}
.br60 {
    border-radius: 60px;
}

/*
    Height 관련
*/

.h3v {
    height: 3vh;
}
.h10v {
    height: 10vh;
}
.h6v {
    height: 6vh;
}
.h20v {
    height: 20vh;
}
.h60 {
    height: 60px;
}
.h70 {
    height: 70px;
}
.h80 {
    height: 80px;
}
.h100 {
    height: 100px;
}
.h120 {
    height: 120px;
}
.h150 {
    height: 150px;
}

/*
    Width 관련
*/

.w15vw {
    width: 15vw;
}
.w50vw {
    width: 50vw;
}
.w60vw {
    width: 60vw;
}
.w70vw {
    width: 70vw;
}
.w20pc {
    width: 20%;
}
.w30pc {
    width: 30%;
}
.w50pc {
    width: 50%;
}
.w60pc {
    width: 60%;
}
.w90pc {
    width: 90%;
}
.w100pc {
    width: 100%;
}

/*
    Gap, 간격 관련
*/

.g3pc {
    gap: 3%
}
.g20 {
    gap: 20px;
}
.g30 {
    gap: 30px;
}

/*
    Margin 관련
*/

.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mr5vw {
    margin-right: 5vw;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}